table {
  border-collapse: collapse;
}
th,
td {
  border: 1px solid black;
  padding: 10px;
}

.success {
  color: green;
}

.error {
  color: red;
}

.errorlist {
  color: red;
  list-style: none;
  padding: 0;
}
